/* Bootstrap update */
@media (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1420px;
  }
}
@media (min-width: 1800px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1620px;
  }
}
@media (min-width: 1920px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1740px;
  }
}
/* Tags customization */
body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}
h1,h3,h4 {
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 400;
  font-size: 140px;
  line-height: 163px;
}
h3 {
  font-weight: 250;
  font-size: 60px;
  line-height: 69px;
}
h4 {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
}
@media (max-width: 1900px) {
  h1 {
    font-size: 99px;
    line-height: 115px;
  }
  h3 {
    font-size: 42px;
    line-height: 49px;
  }
  h4 {
    font-size: 25px;
    line-height: 30px;
  }
}

/* Elements */
#bgvideo {
  object-fit: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}
#counter {
  width: 532px;
  height: 532px;
}
.rounded-ico {
  display: inline-block;
  background: #ffff;
  padding: 13px;
  font-size: 22px;
  border-radius: 50%;
}
.rounded-ico::before {
  color: #007C66;
}
@media (max-width: 1900px) {
  #counter {
    width: 377px;
    height: 377px;
  }
}

/* Header */
header {
  position: fixed;
  width: 100%;
  background: #000;
  max-height: 94px;
  z-index: 99999992;
}
header .container {
  padding: 15px 0;
  color: #fff;
}
header .header-menu {
  text-align: center;
  padding-left: 95px;
}
header .header-contact {
  text-align: right;
}
/*  */
@media (max-width: 1900px) {
  header {
    max-height: 67px;
  }
  header .container {
    padding: 10px 0;
  }
  header .brand img {
    width: 225px;
  }
  header .header-menu {
    padding-left: 70px;
  }
  header .header-menu .icon-el-menu {
    font-size: 14px;
  }
  header .header-menu .txt, header .header-contact .tel {
    font-size: 18px;
  }
}
/*  */
@media (max-width: 576px) {
  header {
    max-height: none;
  }
  header .header-menu {
    padding-left: 0;
  }
  header .header-contact {
    text-align: center;
  }
  header .col-sm {
    text-align: center;
    /* margin-bottom: 20px; */
  }
}

/* Home content general */
.home-content .title {
  color: #fff;
  padding: 0 100px;
}
.home-content .left-block, .home-content .right-block {
  max-width: 50%;
}
/*  */
@media (max-width: 576px) {
  .home-content .left-block, .home-content .right-block {
    max-width: 100%;
  }
}

/* Home content right content */
.home-content .right-block {
  padding: 0;
  padding-top: 10%;
}
.home-content .right-block .info {
  background: #fff;
  padding: 15px 0;
}
.home-content .right-block .first {
  background: none;
}

/* Home content scrolling block */
.home-content .scrolling {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100px;
  background: #ECECEC;
}

.home-content .scrolling .btn {
  /* min-width: 399px; */
  background: #000;
  padding: 15px 20px;
  border-radius: 0;
}
.home-content .scrolling .btn .txt {
  font-size: 24px;
  line-height: 18px;
  margin: 0 82px 0 15px;
}
.home-content .scrolling .block-title .txt {
  display: none;
  margin-left: 80px;
}
.home-content .scrolling .block-title .active {
  display: inline-block;
}
/*  */
@media (max-width: 1900px) {
  .home-content .scrolling {
    height: auto;
    padding: 10px 0;
  }
  .home-content .scrolling .btn {
    min-width: auto;
    padding: 10px;
  }
  .home-content .scrolling .btn .txt {
    font-size: 18px;
    margin: 0 20px;
  }
  .home-content .scrolling .rounded-ico {
    font-size: 18px;
    padding: 8px;
  }
}
